@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    text-align: center;
}

header h1 {
    background-color: rgb(18 119 18);
    color: white;

    margin: 0;
    padding: 2rem;
    text-shadow: 2px 2px 2px black;
}

header nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 82, 4);
}

header nav a {
    flex: 1;
    text-decoration: none;
    color: white;
    padding: 1.25rem;
}

header nav a:hover {
    background-color: rgb(18 119 18);
    color: rgb(214 255 0);
    text-shadow: 2px 2px 2px black;
}

main {
    max-width: 1100px;
    margin: 2rem auto;
}

.first-card {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 7fr 3fr;
    }

    .first-card {
        display: grid;
        align-items: center;
        text-align: left;
        grid-template-columns: repeat(3, 1fr);
    }

    header nav {
        flex-direction: row;
    }
}

.card .second-h2 {
    border-bottom: 1px solid rgb(185, 185, 185);
    margin: 0 5rem;
}

.card {
    margin: 1rem;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
}

.card h2 {
    grid-column: 1 / 4;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.card p {
    grid-column: span 2;
    margin: 1rem;
}

.card img {
    max-width: 200px;
    margin: 1rem;
}

.card-head {
    background-color: rgb(18 119 18);
    color: white;
    text-shadow: 2px 2px 2px black;
    border-radius: 10px 10px 0 0;
}

footer {
    background-color: rgb(18 119 18);
    color: white;
    text-align: center;
    padding: 2rem;
}

footer p {
    font-size: 1.25rem;
    margin: 0;
}

#lastModified {
    color: rgb(214 255 0);
    font-size: 1rem;
}